.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 85px;
  display: grid;
  grid-template-columns: repeat(4, 323px);
  gap: 21px;
  justify-content: start;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0 0 34px;
}
