.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__date-and-location {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);

  margin: 0;
  /* margin-left: auto; */
}
.header__avatar_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
}
.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
.header__logo {
  margin-right: 24px;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  gap: 12px;
  margin: 0;
}
.header__avatar {
  margin-left: 0;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.header__nav-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
