.sidebar {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 229px;
  margin: 0;
  margin: 0 116px 0 0;
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);

  margin: 0;
  white-space: nowrap;
}

.sidebar__avatar {
  flex: 0 0 40px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  padding: 0;
  margin: 0;
}
