.clothes-section {
  flex: 1;
  width: 100%;
  align-items: center;
}

.clothes-section__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 0 16px;
  padding: 0;
}

.clothes-section__items {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 85px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));

  flex-grow: 1;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.clothes-section__text {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.clothes-section__add-new-btn {
  font-family: "Cabinet Grotesk", sans-serif, Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;

  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
}
.clothes-section__add-new-btn:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
